.v-scaff__form{
}

.v-scaff__form-group{
    position: relative;
    .v-scaff__label{
        &:before, &:after{
            position: absolute;
            line-height: 1.25em;
            display: inline-block;
            margin: 0 calc(0.5em + 2px);
            padding: 0 2px;
            white-space: nowrap;
            color: $input-color;
            background-image: linear-gradient(to bottom, #ffffff, #ffffff);
            background-size: 100% 5px;
            background-repeat: no-repeat;
            background-position: center;
            left: 0;
            font-size: 14px;
            transition: color 0.3s;
            z-index: 9;
        }
        &:before{
            content: attr(data-label);
            top: 4px;
        }
        &:after{
            content: attr(data-error);
            bottom: 4px;
            transition: transform 0.3s;
            transform: translateY(calc(100% + 6px));
            visibility: hidden;
        }
    }
    textarea + .v-scaff__label{
        &:after{
            bottom: 8px;
        }
    }
    .v-scaff__input{
        box-sizing: border-box;
        width: 100%;
        margin: 1em 0 1em;
        padding: 6px;
        border: 1px solid #bababa;
        border-radius: 3px;
        background: #fff;
        font-size: $font-size-base;
        resize: none;
        outline: none;
        transition: border-color 0.3s;
        &:not(textarea){
            height: calc(3em + 2px);
        }
    }
    &:not(.error) .v-scaff__input:focus, .v-scaff__input:active {
        transition-duration: 0.2s;
        outline: none !important;
        border-color: $primary;
    }
    &:not(.error) .v-scaff__input:focus + .v-scaff__label:before{
       color: $primary;
    }
    &.error{
        .v-scaff__input{
            border-color: #f00;
        }
        .v-scaff__label{
            &:before, &:after{
                color: #f00;
            }
            &:after{
                transform: translateY(0);
                visibility: visible;
            }
        }
    }

    //switch styling
    &.switch{
        min-height: 1rem * 1.5;
        margin-bottom: 1rem;
        padding-left: 1em + .5em;
        display: flex;
        align-items: center;

        .v-scaff__input-helper{
            position: relative;
            right: unset;
            top: unset;
            margin-left: 1rem;
        }
    }
    .v-scaff__switch{
        float: left;
        width: 30px;
        height: 17px;
        margin-top: 0;
        vertical-align: top;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid #757575;
        appearance: none;
        color-adjust: exact;
        margin-left: 1.5em * -1;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(0, 0, 0, .25)'/></svg>");
        background-position: left center;
        border-radius: 15px;
        transition: background-position .15s ease-in-out;
        &:active {
            filter: brightness(90%);
        }

        &:focus {
            border-color: #757575;
            outline: 0;
            box-shadow: none;
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(0, 0, 0, .25)'/></svg>");
        }

        &:checked {
            background-color: #0091da;
            border-color: #0091da;
            background-position: right;
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(255, 255, 255, 1)'/></svg>");
        }

        &:disabled {
            pointer-events: none;
            filter: none;
            opacity: .5;
        }

        &[disabled],
        &:disabled {
            ~ .form-check-label {
                opacity: .5;
            }
        }
    }
    .v-scaff__switch-label{
        margin-left: 1rem;
    }
}

.v-scaff__input-helper{
    position: absolute;
    right: 6px;
    top: 6px;
    padding: 0 2px;
    background-color: #ffffff;
    cursor: pointer;
    svg{
        width:15px;
        height: 15px;
        fill: $input-color;
    }
}

.v-scaff__input-helper{
    &:hover{
        .tooltip {
            visibility: visible;
        }
    }
    .tooltip{
        visibility: hidden;
        width: 120px;
        background-color: $input-color;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 500;
        top: -5px;
        left: 105%;
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent $input-color transparent transparent;
        }
    }
}

