.v-scaff__icon-button{
    background: none;
    padding: 5px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
    fill: $grey-light;
    border: none;

    &.bordered{
        border-radius: 3px;
        border: 1px solid $grey-light;
        transition: border-color 0.3s ease-in-out;
        &:hover{
            border-color: rgba($grey-light, 0.6);
        }
    }
    &:hover{
        fill: rgba($grey-light, 0.6);
        .v-scaff__icon{
            animation-name: scaleBounce;
            animation-duration: 1s;
            animation-iteration-count: 1;
        }
    }
    .v-scaff__icon{
        padding: 0;
        height: 25px;
        transition: transform 0.3s ease-in-out;
        .unicon{
            height: 25px;
        }
    }
}

.v-scaff__loading-button{
    margin-right: 10px;
    position: relative;
    height: $btn-height;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    span{
        position: relative;
        height: $btn-height;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: height 0.3s ease-in-out;
        &.loading-text{
            height: 0;
            overflow: hidden;
            padding: 0 30px;
        }
    }
    &.loading{
        background-color: $secondary;
        span{
            &.loading-text{
                height: $btn-height;
                &:before{
                    content: " ";
                    display: block;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    border: 2px solid;
                    border-color: #fff transparent #fff transparent;
                    animation: loading-ring 1.2s linear infinite;
                    left: 4px;
                    filter: none;
                    background: none;
                    top: 8px;
                    margin-right: $float-spacing-y;
                }
            }
        }
    }
}

.v-scaff__button{
    display: inline-block;
    font-family: $button-font;
    font-weight: $btn-font-weight;
    font-size: $btn-font-size;
    text-align: center;
    text-decoration: none;
    color: $font-color;
    white-space: normal;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: $btn-padding-y $btn-padding-x;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: $btn-transition;
    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
        background-color: rgba($btn-default-bg-color, 0.7);
    }
}

@each $color, $value in $btn-varients {
    .v-scaff__button.#{$color} {
        @include button-variant($value);
    }
}


