@mixin button-variants(
    $variants
) {
    background-color: map-get($variants, 'bg-color');
    color: map-get($variants, 'color');
    &:hover{
        color: map-get($variants, 'hover-color');
        background-color: map-get($variants, 'hover-bg-color');
    }

    &:disabled{
        color: map-get($variants, 'hover-color');
        background-color: map-get($variants, 'hover-bg-color');
    }
}