body{
    background-color: $body-bg;
}

.v-scaff{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

//Lists
ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
li{

}

.router-link-active{
    color: rgba($primary, 0.5);
    fill: rgba($primary, 0.5);
}