.expand-enter-active,
.expand-leave-active {
    transition-timing-function: cubic-bezier(0.3, 0.7, 1.0, 0.1);
    transition-duration: 0.2s;
    overflow: hidden;
}
.expand-enter,
.expand-leave-to {
    height: 0;
}

//Fade transition
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease-in-out;
}
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}